---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import CoreConcepts from '../components/CoreConcepts.astro';
import Features from '../components/Features.astro';
import Footer from '../components/Footer.astro';
import ThemeToggle from '../components/ThemeToggle.astro';
---

<Layout>
	<ThemeToggle slot="header-right" />
	<main>
		<Hero />
		<CoreConcepts />
		<Features />
	</main>
	<Footer />
</Layout>
